@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');

/* styles reset */
html { font-size: 14px; font-family: Verdana, Geneva, Tahoma, sans-serif; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale }
html * { box-sizing: border-box }
body { color: #333; background: white; height: 100vh; margin: 0 }
h1, h2, h3, h4, h5, h6 { font-family: 'Roboto Condensed', sans-serif; margin-top: 1rem }
h1 { font-size: 2.8rem }
h2 { font-size: 2.4rem }
h3 { font-size: 2.0rem }
h4 { font-size: 1.8rem }
h5 { font-size: 1.4rem }
h6 { font-size: 1.2rem }
p { font-size: 1rem }
header, main, footer { padding: 2rem }
input, button, select { color: #333; border: 1px solid black; border-radius: 4px; font-family: inherit; height: 42px; padding: 0 1rem; transition: all 0.2s }
input::placeholder { color: #999; font-weight: 100; font-style: italic }
button { background-color: black }
button:hover { background-color: #121212 }
select { line-height: 2rem }

/* colors */
header, footer { background-color: #222; color: #efefef }
main { background-color: #292A2B; color: #efefef; box-shadow: inset 0 14px 8px -10px rgba(0, 0, 0, 0.4), inset 0 -14px 8px -10px rgba(0, 0, 0, 0.4) }
nav { background-color: #373838; color: #efefef }

/* utilities */
.logo { margin: 0 }
.content { height: 100% }
.flex { display: flex; flex-direction: row }
.flex-column { flex-direction: column }
@media(min-width: 768px){.flex-row-md { flex-direction: row }}
.flex-0 { flex-grow: 0; flex-shrink: 0 }
.flex-1 { flex-grow: 1; flex-shrink: 1 }
.flex-align-center { align-items: center }
.flex-justify-around { justify-content: space-around }
.flex-justify-center { justify-content: center }
.flex-wrap { flex-wrap: wrap }
.hidden { visibility: hidden }
.list-unstyled { list-style: none }
.sr-only { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0,0,0,0); border: 0 }
.text-right { text-align: right }
.icon { width: 25px; height: 25px; display: block }

/* result cards */
.result { background-color: #373838; padding: 1rem; border-radius: 8px; box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.4) }
.result:not(:last-child) { margin-bottom: 1rem }
.result-title { font-size: 1.2rem }

/* search form styling */
#wikiSearch { max-width: 320px }
#wikiSearch input[name="search"] { max-width: 250px; border-width: 1px 0 1px 1px; border-radius: 4px 0 0 4px }
#wikiSearch button[type="submit"] { border-radius: 0 4px 4px 0 }
#searchNav, #response, #info { max-width: 1200px; margin-left: auto; margin-right: auto }
#info { padding: 1rem }
